<!DOCTYPE html>
{% load extra static %}
<html>
<head>
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Drunk Chess Board</title>
    <script>
        const clientId = "{{ client_id }}";
        let selectedFigure = false;
        let startpos = [-1, -1];
        let gameIsOn = false;
        let competitive = false;
        let moves = 0;
        console.log("Client ID", clientId);
        let lock=false;
        async function fetchRequest(url, options) {
            const response = await fetch(url, options);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return await response.json();
        }

        function showMessage(message) {
            document.getElementById('messageText').innerText = message;
            document.getElementById('messageModal').style.display = 'flex';
        }

        function closeMessage() {
            document.getElementById('messageModal').style.display = 'none';
        }

        function showSave() {
            document.getElementById('saveText').innerText = `Your result: ${moves} moves`;
            document.getElementById('saveScoreModal').style.display = 'flex';
        }

        function closeSave(save) {
            document.getElementById('saveScoreModal').style.display = 'none';
            if (save) saveData();
        }

        function showDump() {
            document.getElementById('PredefinedModal').style.display = 'flex';
        }

        function closeDump() {
            document.getElementById('PredefinedModal').style.display = 'none';
        }

        function showChangePawn()
        {
            document.getElementById('PawnChangeModal').style.display = 'flex';
        }
       async function closeChangePawn(what)
        {
            document.getElementById('PawnChangeModal').style.display = 'none';
            try {
                const response = await fetchRequest('/set-substitute/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Client-ID': clientId,
                        'Substitute': what,
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                });
                updateBoard(response.setup_data);
                enemyMove();
            } catch (error) {
                console.error('Error:', error);
            }
        }


        async function saveData() {
            if (lock) return alert('Wasn\'t saved.');
            lock = true;
            try {
                const Name = document.getElementById('scoreName').value;
                const response = await fetchRequest('/save-score/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Client-ID': clientId,
                        'scoreName': Name,
                        'moves': moves,
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                });
                lock = false;
                if (response.status !== 'success') alert(response.what);
            } catch (error) {
                gameIsOn=false;
                clearBoard();
                console.error('Error:', error);
                lock = false;
            }
        }

        async function enemyMove() {
            lock = true;
            try {
                const data = await fetchRequest('/move-enemy/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Client-ID': clientId,
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                });
                lock = false;
                removeCircles();
                startpos = [-1, -1];
                selectedFigure = false;
                if (data.status === 'success') {
                    if (data.setup_data !== 'None') updateBoard(data.setup_data);
                    if (data.special_condition !== "OK" && data.special_condition !== "NOT OK") {
                        if (String(data.special_condition).includes("WON") && competitive) showSave();
                        showMessage(data.special_condition);
                        gameIsOn = false;
                    }
                } else {
                    console.error(data.what);
                }
            } catch (error) {
                console.error('Error:', error);
                lock = false;
            }
        }

        async function cellClicked(col, row) {
            if (!gameIsOn || lock) return;
            lock = true;
            try {
                let data;
                if (selectedFigure) {
                    data = await fetchRequest(`/move/${startpos[0]}/${startpos[1]}/${col}/${row}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Client-ID': clientId,
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    });
                } else {
                    data = await fetchRequest(`/cell-clicked-first/${col}/${row}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Client-ID': clientId,
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    });
                }
                removeCircles();
                startpos = selectedFigure ? [-1, -1] : [col, row];
                selectedFigure = !selectedFigure;
                if (data.status === 'success') {
                    if (selectedFigure) fillCirles(data.candidates);
                    else {
                        moves += 1;
                        if (data.special_condition !== "OK" && data.special_condition !== "NOT OK") {
                            if(data.special_condition==='CODE?')
                            {
                                showChangePawn();
                            }
                            else
                            {
                                showMessage(data.special_condition);
                                gameIsOn = false;   
                            }
                            
                        } else {
                            updateBoard(data.setup_data);
                            enemyMove();
                        }
                    }
                    lock = false;
                } else {
                    console.error(data.what);
                }
            } catch (error) {
                removeCircles();
                startpos = [-1, -1];
                selectedFigure = false;
                console.error('Error:', error);
                lock = false;
            }
        }
        function flipBoard(black) {
            let letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];
            if (black) letters.reverse();
            for (let i = 0; i < 8; i++) {
                const el1 = document.getElementById(`cell-0-${i}`);
                const el2 = document.getElementById(`cell-${i}-0`);
                if (el1) {
                    const hor = document.createElement('span');
                    hor.className = 'letter-horizontal';
                    hor.textContent = letters[i];
                    el1.appendChild(hor);
                }
                if (el2) {
                    const vert = document.createElement('span');
                    vert.className = 'letter-vertical';
                    vert.textContent = black ? 8 - i : i + 1;
                    el2.appendChild(vert);
                }
            }
        }

        function fillCirles(points) {
            points.forEach(piece => {
                if (piece !== "NONE") {
                    const cell = document.getElementById(`cell-${piece[1]}-${piece[0]}`);
                    const circle = document.createElement('div');
                    circle.className = 'circle';
                    cell.appendChild(circle);
                } else {
                    startpos = [-1, -1];
                    selectedFigure = false;
                }
            });
        }

        function removeCircles() {
            document.querySelectorAll('.chess-board .circle').forEach(circle => circle.remove());
        }

        function resetIdle() {
            fetch('/reset-idle/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Client-ID': clientId,
                    'X-CSRFToken': getCookie('csrftoken')
                }
            });
        }

        async function startGame() {
            if (lock) return;
            lock = true;
            clearBoard();
            document.getElementById('settingsButton').disabled = false;
            document.getElementById('settingsButton').style.display = 'flex';
            competitive = false;
            moves = 0;
            const difficulty = document.getElementById('difficulty').value;
            const side = document.getElementById('side').value;
            flipBoard(side === 'black');
            try {
                const data = await fetchRequest(`/start-game/${difficulty}/${side}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Client-ID': clientId,
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                });
                lock = false;
                if (data.status === 'success') {
                    updateBoard(data.setup_data);
                    if (side === 'black') enemyMove();
                    gameIsOn = true;
                } else {
                    removeCircles();
                    startpos = [-1, -1];
                    selectedFigure = false;
                }
            } catch (error) {
                console.error('Error:', error);
                lock = false;
            }
        }

        async function startCompetitive()
        {
            if (lock) return;
            lock = true;
            clearBoard();
            document.getElementById('settingsButton').disabled = true;
            document.getElementById('settingsButton').style.display = 'none';
            competitive = true;
            moves = 0;
            const difficulty = 10;
            const side =  Math.floor(Math.random()*2)==1? 'black':'white';;
            flipBoard(side === 'black');
            try {
                const data = await fetchRequest(`/start-game/${difficulty}/${side}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Client-ID': clientId,
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                });
                lock = false;
                if (data.status === 'success') {
                    updateBoard(data.setup_data);
                    if (side === 'black') enemyMove();
                    gameIsOn = true;
                } else {
                    removeCircles();
                    startpos = [-1, -1];
                    selectedFigure = false;
                }
            } catch (error) {
                console.error('Error:', error);
                lock = false;
            }
        }
        function setPredifinedParams(params)
        {
            document.getElementById('priceKing').value=params[0];
            document.getElementById('priceQueen').value=params[1];
            document.getElementById('priceRook').value=params[2];
            document.getElementById('priceBishop').value=params[3];
            document.getElementById('priceKnight').value=params[4];
            document.getElementById('pricePawn').value=params[5];
            document.getElementById('priceEmpty').value=params[6];
            document.getElementById('pricePate').value=params[8];
            document.getElementById('priceMate').value=params[9];
            document.getElementById('priceFirstMove').value=params[10];
            document.getElementById('priceCastling').value=params[11];
            document.getElementById('attackCost').value=params[12];
            document.getElementById('worth').value=params[13];
            document.getElementById('difficulty').value = params[14]
            document.getElementById('side').value = params[15]==1? 'white':'black';
            clearBoard();
            flipBoard(params[15]==0);
            saveSettings();
        }
        function setDefaultSettings()
        {
            document.getElementById('priceEmpty').value=0;
            document.getElementById('pricePawn').value=100;
            document.getElementById('priceKnight').value=320;
            document.getElementById('priceBishop').value=330;
            document.getElementById('priceRook').value=500;
            document.getElementById('priceQueen').value=900;
            document.getElementById('priceKing').value=1100;
            document.getElementById('priceMate').value=-999999;
            document.getElementById('pricePate').value=0;
            document.getElementById('priceFirstMove').value=1;
            document.getElementById('priceCastling').value=50;
            document.getElementById('attackCost').value=0.05;
            document.getElementById('worth').value=0.9;
            saveSettings();
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function uploadFile() {
            if(lock==false)
            {
                lock=true;
                const fileInput = document.getElementById('file-input');
                const formData = new FormData();
                formData.append('file', fileInput.files[0]);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                fetch('/upload/', {
                    method: 'POST',
                    headers: {
                        'X-Client-ID': clientId,
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('settingsButton').disabled = false;
                    document.getElementById('settingsButton').style.display='flex';
                    competitive=false;
                    moves = 0;
                    setPredifinedParams(data.params);
                    updateBoard(data.setup_data);
                    closeDump();
                    document.getElementById('file-input').value = '';
                    gameIsOn=true;
                    lock=false;
                })
                .catch(error => {
                    alert('Upload failed');
                    document.getElementById('file-input').value = '';
                    console.error('Error:', error);
                    startpos = [-1, -1];
                    selectedFigure = false;
                    lock=false;
                });
            }
        }
        async function dump() {
            if(lock==false&&gameIsOn)
            {
                lock=true;
                try {
                    const response = await fetch('/dump/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Client-ID': clientId,
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const blob = await response.blob();
                    const url = URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'gameSituationDump.inta';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);

                } catch (error) {
                    console.error('Couldn\'t dump:', error);
                }
                lock=false;
            }
            
        }
        function clearBoard()
        {
            const cells = document.querySelectorAll('.chess-board div');
            cells.forEach(cell => {
                cell.innerHTML = '';
            });
        }
        function updateBoard(setupData) {
            const cells = document.querySelectorAll('.chess-board div');
            cells.forEach(cell => {
                const buf = cell.querySelectorAll('span');
                cell.innerHTML = '';
                if(buf)
                {
                    console.log(buf.length)
                    buf.forEach(el =>
                    {
                        cell.appendChild(el);
                    })
                }
            });

            setupData.forEach((piece, index) => {
                const row = 7 - Math.floor(index / 8);
                const col = index % 8;
                const cell = document.getElementById(`cell-${row}-${col}`);
                if (piece.code !== '0') {
                    const img = document.createElement('img');
                    img.src = `{% static 'images/' %}${piece.color.toLowerCase()}_${piece.code.toLowerCase()}.png`;
                    img.alt = piece.code;
                    cell.appendChild(img);
                }
            });
        }
        
        function showSettings() {
            document.getElementById('settingsModal').style.display = "block";
        }

        function closeSettings(save) {
            document.getElementById('settingsModal').style.display = "none";
            if(save)
            {
                saveSettings();
            }
        }

        function saveSettings() {
            if(lock==false)
            {
                const piecePrices = {
                    empty: parseInt(document.getElementById('priceEmpty').value),
                    pawn: parseInt(document.getElementById('pricePawn').value),
                    knight: parseInt(document.getElementById('priceKnight').value),
                    bishop: parseInt(document.getElementById('priceBishop').value),
                    rook: parseInt(document.getElementById('priceRook').value),
                    queen: parseInt(document.getElementById('priceQueen').value),
                    king: parseInt(document.getElementById('priceKing').value),
                };
                const priceMate = parseInt(document.getElementById('priceMate').value);
                const pricePate = parseInt(document.getElementById('pricePate').value);
                const firstMovePrice = parseInt(document.getElementById('priceFirstMove').value);
                const castlingPrice = parseInt(document.getElementById('priceCastling').value);
                const attackCost = parseFloat(document.getElementById('attackCost').value);
                const worth = parseFloat(document.getElementById('worth').value);
                const headers = new Headers({
                    'KING': piecePrices.king,
                    'QUEEN': piecePrices.queen,
                    'ROOK': piecePrices.rook,
                    'BISHOP': piecePrices.bishop,
                    'KNIGHT': piecePrices.knight,
                    'PAWN': piecePrices.pawn,
                    'EMPTY': piecePrices.empty,
                    'MATE': priceMate,
                    'PATE': pricePate,
                    'FMOVE': firstMovePrice,
                    'CAST': castlingPrice,
                    'ATTACK': attackCost,
                    'WORTH': worth,
                    'Content-Type': 'application/json',
                    'X-Client-ID': clientId,
                    'X-CSRFToken': getCookie('csrftoken'),
                });
                fetch('/set-params/', {
                    method: 'POST',
                    headers: headers
                })
                closeSettings();
            }
        }
        function validateDifficulty(input) {
            if (parseFloat(input.value) < parseFloat(input.min)) input.value = input.min;
            if (parseFloat(input.value) > parseFloat(input.max)) input.value = input.max;
            if (input.value ==='') input.value=input.min;
        }
        document.addEventListener('DOMContentLoaded', function() {
            const darkTheme = localStorage.getItem('darktheme');
            if (darkTheme === '1') {
                console.log("Dark theme is enabled");
                document.body.classList.add('dark-theme');
            }
        });

        function toggleDarkTheme() {
            document.body.classList.toggle('dark-theme');
            const isDarkTheme = document.body.classList.contains('dark-theme');
            if (isDarkTheme) {
                localStorage.setItem('darktheme', '1');
            } else {
                localStorage.setItem('darktheme', '0');
            }
        }

        setInterval(resetIdle, 300000);
        window.onbeforeunload = function() {
            fetch(`/stop/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Client-ID': clientId,
                    'X-CSRFToken': getCookie('csrftoken'),
                },
            })
        };
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Drunk Chess Board</h1>
            <div class="header-buttons">
                <button id="settingsButton" onclick="showSettings()" >Settings</button>
                <button onclick="toggleDarkTheme()">Toggle Dark Theme</button>
                <button onclick="window.location.href='leaderboard/'">Leaderboard</button>
            </div>
        </header>
        <div class="content">
            <div class="chess-board">
                {% for row in board_colors reversed %}
                    {% for col in row %}
                        <div id="cell-{{ 7|subtract:forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                            class="{{ col }}"
                            onclick="cellClicked({{ forloop.counter0 }}, {{ 7|subtract:forloop.parentloop.counter0 }} )">
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="options">
                <label for="difficulty">Difficulty:</label>
                <input type="number" id="difficulty" name="difficulty" min="1" max="10" onblur="validateDifficulty(this)" value="5">
                <label for="side">Side:</label>
                <select id="side" name="side">
                    <option value="white">White</option>
                    <option value="black">Black</option>
                </select>
                <button onclick="startGame()">Start</button>
                <button onclick="startCompetitive()">Start Competitive</button>
                <button onclick="showDump()">Predefined Game</button>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close", id="closeButton" onclick="closeSettings(false)">&times;</span>
            <h2>Settings</h2>
            <div class="options">
                <label for="priceEmpty">Price of Empty Cell:</label>
                <input type="number" id="priceEmpty" step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="0">
                <label for="pricePawn">Price of Pawn:</label>
                <input type="number" id="pricePawn" step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="100">
                <label for="priceKnight">Price of Knight:</label>
                <input type="number" id="priceKnight" step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="320">
                <label for="priceBishop">Price of Bishop:</label>
                <input type="number" id="priceBishop"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="330">
                <label for="priceRook">Price of Rook:</label>
                <input type="number" id="priceRook"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="500">
                <label for="priceQueen">Price of Queen:</label>
                <input type="number" id="priceQueen"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="900">
                <label for="priceKing">Price of King:</label>
                <input type="number" id="priceKing"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="1100">
                <label for="priceMate">Price of Mate:</label>
                <input type="number" id="priceMate"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="-999999">
                <label for="pricePate">Price of Pate:</label>
                <input type="number" id="pricePate"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="0">
                <label for="priceCastling">Price of Castling:</label>
                <input type="number" id="priceCastling"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="50">
                <label for="priceFirstMove">Price of First Move:</label>
                <input type="number" id="priceFirstMove"  step="1" max="2147483646" min="-2147483646" onblur="validateDifficulty(this)" value="1">
                <label for="attackCost">Attack Cost Coefficient:</label>
                <input type="number" id="attackCost" min="0" max="2" step="0.005" onblur="validateDifficulty(this)" value="0.05">
                <label for="worth">Worth Coefficient:</label>
                <input type="number" id="worth" min="0" max="2" step="0.005" onblur="validateDifficulty(this)" value="0.9">
                <div>
                    <button onclick="closeSettings(true)">Save</button>
                    <button onclick="setDefaultSettings()">Set Defaults</button>
                </div>
            </div>
        </div>
    </div>
    <div id="saveScoreModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSave(false)">&times;</span>
            <div class="options">
                <p id="saveText"></p>
                <label for="priceEmpty">Name: </label>
                <input type="string" id="scoreName">
                <button onclick="closeSave(true)">Save</button>
            </div>
        </div>
    </div>
    <div id="messageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeMessage()">&times;</span>
            <p id="messageText"></p>
            
        </div>
    </div>
    <div id="PredefinedModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDump()">&times;</span>
            <div class="options">
                <input type="file" id="file-input" name="file">
                <div>
                    <button onclick="dump()">Download</button>
                    <button type="button" onclick="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PawnChangeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeChangePawn('Q')">&times;</span>
            <div class="options">
                <p>Choose figure you want to substitute.</p>
                <select id="substitute" name="substitute" value="Q">
                    <option value="Q">Queen</option>
                    <option value="B">Bishop</option>
                    <option value="R">Rook</option>
                    <option value="H">Knight</option>
                </select>
                <button type="button" onclick="closeChangePawn(document.getElementById('substitute').value)">Choose</button>
            </div>
        </div>
    </div>
</body>
</html>
