
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #2c3e50, #bdc3c7);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 90vw;
    max-height: 90vh;
}
.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 70vmin;
    height: 70vmin;
}
.chess-board div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.chess-board div img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.circle {
    height: 22.8%;
    width: 22.8%;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
header {
    background: #1abc9c;
    color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
.header-buttons {
    display: flex;
    gap: 10px;
}
.header-buttons button {
    background: white;
    color: #1abc9c;
    border: 1px solid #1abc9c;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.header-buttons button:hover {
    background: #1abc9c;
    color: white;
}
.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.white {
    background-color: hsl(160, 50%, 80%);
}
.black {
    background-color: hsl(160, 50%, 40%);
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.options label {
    font-weight: bold;
    color: #333;
}
.options input, .options select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.options button {
    background: #1abc9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.options button:hover {
    background: #16a085;
}
.theme-toggle-button {
    background: #1abc9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}
.theme-toggle-button:hover {
    background: #16a085;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.letter-horizontal, .letter-vertical {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
    position: absolute;
    z-index: 3;
}
.letter-horizontal {
    right: 5px;
    bottom: 5px;
}
.letter-vertical {
    left: 5px;
    top: 5px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.dark-theme {
    background: #333;
    color: #ccc;
}
.dark-theme header {
    background: #444;
    color: #ccc;
}
.dark-theme .modal-content
{
    background: #555;
}
.dark-theme .container  {
    background: #555;
}
.dark-theme .header-buttons button {
    background: #555;
    color: #ccc;
    border: 1px solid #777;
}
.dark-theme .header-buttons button:hover {
    background: #666;
    color: white;
}
.dark-theme .options label {
    color: #ccc;
}
.dark-theme .options input,
.dark-theme .options select {
    background: #666;
    color: #ccc;
    border: 1px solid #777;
}
.dark-theme .options button,
.dark-theme .theme-toggle-button {
    background: #888;
    color: white;
}
.dark-theme .options button:hover,
.dark-theme .theme-toggle-button:hover {
    background: #999;
}
.leaderboard {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
}

.leaderboard h2 {
    margin: 0;
    font-size: 32px;
    color: #1abc9c;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #333;
}

.leaderboard li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.leaderboard li:last-child {
    border-bottom: none;
}

.dark-theme .leaderboard {
    background: #444;
    color: #ccc;
}

.dark-theme .leaderboard h2 {
    color: #1abc9c;
}

.dark-theme .leaderboard ul {
    color: #ccc;
}

.dark-theme .leaderboard li {
    border-bottom: 1px solid #555;
}